<script type="text/javascript">
	window.MetaData = {
		isAuthed: <%= "#{!current_user.blank?}" %>,
		email: <%= current_user ? "'#{current_user.email}'".html_safe : "null" %>
	}
</script>

<script type="text/x-handlebars">
	<div class='head'>
	  {{#if currentUser}}
	  	{{currentUser.email}}
	  {{/if}}
	</div>
	<div id="hdtbSum">
		<div id="hdtb_msb">
			<div class="hdtb_mitem hdtb_msel">Web</div>
			<div class="hdtb_mitem">
				<a class="q qs" href="">商品</a>
			</div>
			<div class="hdtb_mitem">
				<a class="q qs" href="">销售</a>
			</div>
			<div class="hdtb_mitem">
				<a class="q qs" href="">Maps</a>
			</div>
			<a id="hdtb_more" role="menu" tabindex="0" aria-label="More">
				<span class="mn-hd-txt">More</span>
				<span class="mn-dwn-arw"></span>
			</a>
			<div class="hdtb-mn-c" id="hdtb_more_mn" data-ved="0CAsQ2h8oBA">
				<div class="hdtb_mitem">
					<a class="q qs" href="">News</a>
				</div>
				<div class="hdtb_mitem">
					<a class="q qs" href="">Books</a>
				</div>
				<div class="hdtb_mitem">
					<a class="q qs" href="">Apps</a>
				</div>
			</div>
		</div>
	</div>
	{{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="login">
	<div>
		<label for="email">Email:
			{{input id="email" name="email" action="checkEnter" value=email placeholder="input you email here"}}
			<span>
				{{#if emailErr}}
				  email formate error!
				{{/if}}
			</span>
			<br>
		</lable>
		<label>Password:
			{{input id="password" type="password" action="checkEnter" name="password" value=password placeholder="input you email here"}}
			<span>
				{{#if passwordErr}}
				  password formate error!
				{{/if}}
			</span>
			<br>
		</label>
		<button {{action checkEnter}}>Submit</button>
		<div>
			Do not have a account yet?
			<button>Register</button>
		</div>
	</div>
</script>

<%= javascript_include_tag 'ember/index' %>