<script type="text/javascript">
	window.MetaData = {
		isAuthed: <%= "#{!current_user.blank?}" %>,
		email: <%= current_user ? current_user.email : "null" %>
	}
</script>
<script type="text/x-handlebars">
  {{#if currentUser}}
  	{{currentUser.email}}
  {{else}}
  	signin || login
  {{/if}}
	{{#link-to 'login'}}
		login
	{{/link-to}}

	{{outlet}}
</script>
<script type="text/x-handlebars" data-template-name="login">
	<div>
		<label for="email">Email:
			{{input id="email" name="email" action="checkEnter" value=email placeholder="input you email here"}}
			<span>
				{{#if emailErr}}
				  email formate error!
				{{/if}}
			</span>
			<br>
		</lable>
		<label>Password:
			{{input id="password" type="password" action="checkEnter" name="password" value=password placeholder="input you email here"}}
			<span>
				{{#if passwordErr}}
				  password formate error!
				{{/if}}
			</span>
			<br>
		</label>
		<button {{action checkEnter}}>Submit</button>
		<div>
			Do not have a account yet?
			<button>Register</button>
		</div>
	</div>
</script>